name: TDD A7 - ed2025a

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Instala valgrind
      run: sudo apt install -y valgrind
    - name: Compila catch
      run: g++ -Wall -O2 -g -c catch_amalgamated.cpp
    - name: Compila testes
      run: g++ -Wall -O2 -g -c testes.cpp
    - name: Compila AVL
      run: gcc -Wall -O2 -g -c avl.c
    - name: Programa final
      run: g++ -Wall -O2 -g avl.o testes.o  catch_amalgamated.o
    - name: Roda testes no valgrind
      run: valgrind --leak-check=full ./a.out --reporter compact --success
